<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.goluck.realm_2017_2_8">

    <application
        android:allowBackup="true"
        android:name=".base.ui.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DelDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UpdateDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.JsonToRealmObjectActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>